@media only screen and (min-width: 577px) {
  .desktop-menu {
    display: flex;
    justify-content: start;
    background-color: rgba(60, 58, 57, 1);
    line-height: 36px;
    background-color: #3E3C3C;
  }

  .name-desktop {
    color: #fff;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.6em;
    position: relative;
    top: 48px;
  }

  .desktop-h1 {
    color: #fff;
    font-family: sans-serif;
    padding: 0 72px;
    font-size: 18px;
  }

  .desktop-item {
    color: #fff;
    display: inline-flex;
    float: right;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 18px;
    position: relative;
    bottom: 70px;
    margin: 30px 40px;
    justify-content: center;
    align-items: center;
  }

  .header-menu {
    display: none;
  }

  .intro-section {
    background-color: #1C1A19;
    margin-top: -191.9px;
    line-height: 20px;
    margin-bottom: 40px;
    background-color: #1C1A19;
    block-size: 700px;
}

  .intro {
  width: 566px;
  height: 160px;
  color: #F55800;
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  margin: 192px;
  position: relative;
  right: 25px;
  top: 162px;
  }

  .work {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  position: relative;
  bottom: 30px;
  left: 172px;
  }

#details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1C1A19;
  color: #fff;
  position: relative;
  bottom: 40px;
  right: 28px;
  font-family: 'Inter', 'Times New Roman', Times, serif
  font-style: normal;
  font-weight: 10;
  font-size: 16px;
  margin: 0 202px;
  max-width: 38%;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 20px;
  height: 98.96px;
  flex: none;
  position: relative;
  bottom: 220px;
  left: 80px;
  line-height: 20px;
}

.scoial-sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .work-section, .work-container, .recent-work {
    background-color: #fff;
  }

  #bgd {
    display: flex;
    flex-direction: column;
    position: absolute;
  }

  #background-desktop {
  position: relative;
  bottom: 570px;
  left: 749px;
  width: 500px;
  display: inline-flex;

  }

  .new-bgi {
    padding: 0;
    margin: 0;
    position: relative;
  }

  .top-links {
    color: #fff;
    text-decoration: none;
  }

  .divider {
    border: 0.5px solid black;
    width: 60%;
    position: relative;
    bottom: 30px;
    left: 300px;
  }

  .recent-work {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    left: 80px;
  }

  .post-cards, .post-background {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    float: left;
    margin-left: 24px;
    height: 500px;
  }

  .post-type1 {
    position: relative;
    bottom: 490px;
    left: 720px;
    font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  }

  .para-type1 {
    position: relative;
    bottom: 500px;
    left: 720px;
    font-style: normal;
    width: 50%;
  }

  .technology {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 500px;
    left: 690px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 52px;
    margin: 10px 12px;
    padding: 10px;
  }

  .btn-secondary {
  border: 1px solid #8993a4;
  margin: 0 4px;
  box-sizing: border-box;
  position: relative;
  font-size: 12px;
  font-weight: 500;
  width: 50px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: black;
  }

  .btn-primary {
  background-color: #ff6b00;
  font-size: 18px;
  color: #fff;
  position: relative;
  bottom: 490px;
  left: 715px;
  border: 1px solid #8993a4;
  padding: 8px 14px;
  }

.posts-section, .about-me, .contact-form-section {
    display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  background-color: black;
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.desktop-post-btn {
    width: 98.5%;
    height: 45px;
    font-size: 17px;
    background-color: #ff6b00;
    color: #fff;
    position: relative;
    bottom: 21px;
    align-self: center;
    justify-self: center;
}
a {
    text-decoration: none;
    color: #fff;
}

 .posting2, .posting3, .posting5, .posting6 {
   display: inline-flexbox;
   position: relative;
    top: 80px;
}

.heading-post, .desktop-paragraph, .desktop-post-nav  {
    position: relative;
    bottom: 200px;
    left: 45px;
    align-items: center;
    color: #fff;
}

.desktop-post-nav {
    display: inline-flex;
    flex-direction: row;
    line-height: 40px;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 200px;
    left: 45px;
    align-items: center;
    color: #fff;
} 
.desktop-post-nav-item {
    display: inline-flex;
    flex-direction: column;
    border: 0.5px solid #8993a4;
    margin: 0 5px;
    background-color: #3E3C3C;
    font-size: 14px;
    background-color: rgb(90, 86, 86);
    color: #fff;
    border: 1px solid #8993a4;
    padding: 0 4px;
    line-height: 30px;
}

.posting1, .posting4 {
    display: inline-flexbox;
    position: relative;
    bottom: 10px;

}